

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-crimson-text: "Crimson Text", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}